<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="1c0748ac-ce4c-4925-a3d3-e8cbd8d20db6" Publisher="CN=HS" Version="2.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="1c0748ac-ce4c-4925-a3d3-e8cbd8d20db6" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>EFC_UWP_SQLite</DisplayName>
    <PublisherDisplayName>Holger Schwichtenberg</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="EFC_UWP_SQLite.App">
      <uap:VisualElements DisplayName="MiracleList Light (EFC_UWP_SQLite)" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="MiracleList is a sample application for simple task management app, implemented as a Windows Universal Platform (UWP) app for Windows 10 with Entity Framework Core using a local SQLite database. (C) Dr. Holger Schwichtenberg, www.IT-Visions.de, 2016-2018" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="white" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>